*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	background: #111;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
.slider{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background: #000;
}

.slider .imgbx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	z-index: 1;
	clip-path: circle (0px at center); 
}
.slider input[type="radio"]:checked + .imgbx{
	z-index: 10;
	clip-path: circle (1000px at center);
}
.slider .imgbx img{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height:100%;
	object-fit: cover;
}
.slider input[type="radio"]{
	position: relative;
	z-index: 1000;
	margin: 5px;
	margin-bottom: 40px;
	outline: none;
	cursor: pointer;
}

